html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  background: url(../images/background.webp) top center repeat-y;
  background-attachment: fixed;
  background-size: 100% auto;
}
a {
  text-decoration: none;
}
.navbar {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.4)
  );
}
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.navbar_a {
  color: rgba(255, 255, 255, 0.5);
}
.cfp {
  background-color: #fff;
  border-radius: 25px;
}
.cfp a {
  color: #4706a0 !important;
}
